.personal-details {
  background-color: var(--pure-white);
  padding: 32px;
  margin-bottom: 32px;
  border-radius: 16px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.personal-details h2 {
  margin: 0;
}